.nav-tabs {
  .nav-link {
    border: 0 !important;

    &.active {
      border: 1px solid transparent !important;
      border-bottom: 0 !important;
      outline: 2px solid transparent;
    }

    &.disabled,
    &:disabled {
      color: GrayText;
    }
  }
}

.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    outline: 1px solid transparent;
  }
}
