@media (prefers-color-scheme: dark) {
  .form-switch .form-check-input {
    border: 1px solid;
  }

  [data-bs-theme="dark"] .form-switch .form-check-input:not(:checked):not(:focus) {
    filter: brightness(5);
  }
}

@media (prefers-color-scheme: light) {
  .form-switch .form-check-input:checked {
    forced-color-adjust: none;
  }
}
