.form-range {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  appearance: auto;
}

.form-range:disabled {
  opacity: 0.5;
}

.form-range::-webkit-slider-runnable-track {
  background-color: ButtonText;
}

.form-range::-webkit-slider-thumb {
  outline: 2px solid Canvas;
}

.form-range::-moz-range-thumb {
  outline: 2px solid Canvas;
}
