name: "Check spelling"
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  spellcheck:
    permissions:
      contents: read # for streetsidesoftware/cspell-action to fetch files for commit
      pull-requests: read # for streetsidesoftware/cspell-action to fetch commits for PR
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: streetsidesoftware/cspell-action@24fa8d3096a314ce263f39578744e9d9f8d80acf # v8.1.2
        with:
          check_dot_files: false
          incremental_files_only: true
          inline: warning
